@import "../../styles/colours.scss";

.post-container{
    display: flex;
    margin:5px 1px;
    min-height:50px;
    padding:5px 10px;
    background-color: $dark-background-color;

    & *{
        color:$post-font-colour;
    }

    &:hover{
        background-color: rgb(47, 47, 63);
    }

    a{
        display:inline-block;
        text-decoration: none;
        width:100%;
    }
}